/* =Typography
-----------------------------------------------------------------------------*/
/*body {
	font-family: 'Alegreya', 'Hoefler Text', Times, Serif;
	font-size: 1.05em;
	line-height: 1.6em;
	background-color: #faf8f8;
}
h1, h2, h3, h4, h5 {
	font-family: 'Alegreya', 'Trebuchet MS', Helvetica, Arial, sans-serif;
	font-style: italic;
	color: #b24;
}
h2, h3, h4, h5 {
	font-weight: normal;
	font-style: italic;
}
h2, h3 {
	text-transform: lowercase;
	font-family: 'Alegreya SC';
	font-style: normal;
}*/


/*************************************************
 *  Biography
 **************************************************/

#profile {
  text-align: center;
  padding: 30px 10px;
  position: relative;
}

#profile .portrait {
  background-image: url('../img/portrait.jpg');
  width: 200px;
  height: 200px;
  margin: 0 auto;
  border-radius: 50%;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
}

#profile .portrait-title h2 {
  font-size: 1.75em;
  font-weight: 300;
  color: #000000;
  margin: 20px 0 10px 0;
}

#profile .portrait-title h3 {
  font-size: 1.13em;
  font-weight: 300;
  color: #AAAAAA;
  margin: 0px 0 10px 0;
}

#profile ul.social-icon {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin-top: 30px;
}

#profile .social-icon li {
  margin-right: 10px;
}

#profile .social-icon li:last-of-type {
  margin-right: 0;
}

#profile .social-icon li:hover {
  transform: scale(1.2)
}

.big-icon {
  font-size: 2rem;
}

ul.ul-interests li {
  font-size: 0.9rem;
}

ul.ul-edu {
  list-style: none;
}

ul.ul-edu li {
  position: relative;
  padding: 0px 15px 4px 3px;
}

ul.ul-edu li .description p {
  margin: 0;
}

ul.ul-edu li .description p.course {
  font-size: 0.9rem;
}

ul.ul-edu li .description p.institution {
  font-size: 0.75rem;
  color: rgba(0,0,0,0.6);
}
