/* =Typography
-----------------------------------------------------------------------------*/
body {
	font-family: 'Alegreya', 'Hoefler Text', Times, Serif;
	font-size: 1.05em;
	line-height: 1.6em;
	background-color: #faf8f8;
}
h1, h2, h3, h4, h5 {
	font-family: 'Alegreya', 'Trebuchet MS', Helvetica, Arial, sans-serif;
	font-style: italic;
	color: #b24;
}
h2, h3, h4, h5 {
	font-weight: normal;
	font-style: italic;
}
h2, h3 {
	text-transform: lowercase;
	font-family: 'Alegreya SC';
	font-style: normal;
}

/*************************************************
 *  Button Primary: Color Override
 **************************************************/

.btn-primary {
  border-color: #0095eb;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  background: #0095eb;
}

/*************************************************
 *  Button Outlines
 **************************************************/

.btn-outline {
  background-color: transparent;
  color: inherit;
  transition: all .5s;
}

.btn-primary.btn-outline {
  color: #0095eb;
  border-color: #0095eb;
}

.btn-success.btn-outline {
  color: #5cb85c;
}

.btn-info.btn-outline {
  color: #5bc0de;
}

.btn-warning.btn-outline {
  color: #f0ad4e;
}

.btn-danger.btn-outline {
  color: #d9534f;
}

.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
  color: #fff;
}


