<div class="wrapper" style="font-size: 0.95em; line-height: 1.05em;">
    <div class="units-row">
        <div class="unit-40">
            <figure class="likelihood">
                <img src="/files/likelihood.png">
            </figure>
            <!-- <ul class="compact fa-ul">
              <li><i class="fa-li fa fa-university fa-fw" style="color:#03396c;font-size:80%;padding-top:6px;"></i>Department of Economics and Finance, Luiss University, Rome, Italy.</li>
              <li><i class="fa-li fa fa-envelope fa-fw" style="color:#03396c;font-size:80%;padding-top:6px;"></i><a href="mailto:kjhealy@soc.duke.edu">gragusa@luiss.it</a></li>
              <li><i class="fa-li fa fa-twitter-square fa-fw" style="color:#03396c;font-size:80%;padding-top:6px;"></i><a href="http://twitter.com/kjhealy">@gragusa</a> on Twitter.</li>
              <li><i class="fa-li fa fa-github fa-fw" style="color:#03396c;font-size:80%;padding-top:6px;"></i><a href="http://github.com/gragusa">On GitHub</a>.</li>
              <li><i class=""></li>
            </ul> -->

            <!-- <div class="portrait-title">
                <h2 itemprop="name">Giuseppe Ragusa</h2>
                <h3 itemprop="jobTitle">Department of Economics and Finance</h3>
                <h3 itemprop="worksFor">Luiss University</h3>
            </div> -->
            <!-- <ul class="social-icon" aria-hidden="true">
                <li>
                    <a href="/cdn-cgi/l/email-protection#8afeeff9fecaeff2ebe7fae6efa4e5f8ed">
                        <i class="fa fa-envelope big-icon"></i>
                    </a>
                </li>
                <li>
                    <a href="//twitter.com/giuragusa">
                        <i class="fa fa-twitter big-icon"></i>
                    </a>
                </li>
                <li>
                    <a href="https://scholar.google.it/citations?user=b6fOfJcAAAAJ&hl=en">
                        <i class="ai ai-google-scholar big-icon"></i>
                    </a>
                </li>
                <li>
                    <a href="//github.com/gragusa">
                        <i class="fa fa-github big-icon"></i>
                    </a>
                </li>
            </ul> -->
            <!-- <h3>Curriculum Vitae</h3> -->
            <!-- <ul class="fa-ul"> -->
            <!--   <i class="fa fa-file-pdf-o" aria-hidden="true"><a href="files/gragusa-cv.pdf"> In PDF format</a></i> -->
            <!-- </ul> -->
            <!-- <hr> -->
        </div><!--end about-->

        <div class="unit-60"><!--contact-->
            <p class="bio">Giuseppe Ragusa &nbsp;&nbsp;<ul class="social-icon" aria-hidden="true">
                <li>
                    <a href="/cdn-cgi/l/email-protection#8afeeff9fecaeff2ebe7fae6efa4e5f8ed">
                        <i class="fa fa-envelope big-icon"></i>
                    </a>
                </li>
                <li>
                    <a href="//twitter.com/giuragusa">
                        <i class="fa fa-twitter big-icon"></i>
                    </a>
                </li>
                <li>
                    <a href="https://scholar.google.it/citations?user=b6fOfJcAAAAJ&hl=en">
                        <i class="ai ai-google-scholar big-icon"></i>
                    </a>
                </li>
                <li>
                    <a href="//github.com/gragusa">
                        <i class="fa fa-github big-icon"></i>
                    </a>
                </li>
            </ul> &nbsp;&nbsp;is an assistant professor of econometrics at Luiss University. His research interests include microeconometrics, time series, economic forecasting, approximate bayesian inference, and big data applications in economics.
                <a href="files/gragusa_cv.pdf"><span class="badge badge-small badge-red"><i class="fa fa-file-pdf-o"></i>&nbsp;&nbsp;Curriculum Vitae</span></a>
            </p>

        </div><!--end contact-->
        <div class="units-row-end">
            <div class="unit-40">&nbsp;</div>

            <div class="unit-30">
                <h3>Interests</h3>
                <ul class="ul-interests">
                    <li>Microeconometrics</li>
                    <li>Time series</li>
                    <li>Economic forecasting</li>
                    <li>Approximate Bayesian inference</li>
                    <li>Machine learning</li>
                </ul>
            </div>
            <div class="unit-30">
                <h3>Education</h3>
                <ul class="ul-edu fa-ul">
                    <li>
                        <i class="fa-li fa fa-graduation-cap"></i>
                        <div class="description">
                            <p class="course">PhD in Economics, 2005</p>
                            <p class="institution">University of California, San Diego</p>
                        </div>
                    </li>
                    <li>
                        <i class="fa-li fa fa-graduation-cap"></i>
                        <div class="description">
                            <p class="course">MA in Economics, 2000</p>
                            <p class="institution">Bocconi University</p>
                        </div>
                    </li>
                    <li>
                        <i class="fa-li fa fa-graduation-cap"></i>
                        <div class="description">
                            <p class="course">BA in Economics, 1999</p>
                            <p class="institution">Bocconi University</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
