<div class="wrapper" style="font-size: 0.9em; line-height: 1.05em;">
  <div class="units-row units-padding">
    <div class="unit-40"><!--about-->
      <h3>about</h3>
      <figure class="image-left">
        <img class="avatar" src="/files/likelihood.png" height="120" width="120">
      </figure>
      <p>Giuseppe Ragusa teaches in the Department of Economics and Business and in the Business School at Luiss University.
His research is mostly about econometrics.</p>
    </div><!--end about-->
    <div class="unit-30"><!--contact-->
      <h3>Where</h3>
      <ul class="compact fa-ul">
        <li><i class="fa-li fa fa-university fa-fw" style="color:#03396c;font-size:80%;padding-top:6px;"></i>Department of Economics and Finance, Luiss University, Rome, Italy.</li>
        <li><i class="fa-li fa fa-envelope fa-fw" style="color:#03396c;font-size:80%;padding-top:6px;"></i><a href='m&#97;il&#116;o&#58;g%7&#50;&#97;g%75s%&#54;1&#64;&#108;u&#105;%73%73&#46;it'>grag&#117;sa&#64;lui&#115;s&#46;it</a></li>
        <li><i class="fa-li fa fa-twitter-square fa-fw" style="color:#03396c;font-size:80%;padding-top:6px;"></i><a href="http://twitter.com/giuragusa">@giuragusa</a> on Twitter.</li>
        <li><i class="fa-li fa fa-github fa-fw" style="color:#03396c;font-size:80%;padding-top:6px;"></i><a href="http://github.com/gragusa">On GitHub</a>.</li>
        <li><i class=""></li>
      </ul>
    </div><!--end contact-->
<div class="unit-30"><!--Subscribe-->
				<h3>subscribe</h3>
				<p>To receive updates from this site, you can
				subscribe to the <a href="/index.xml"><i class="fa fa-rss-square" style="color:#03396c;"></i>&nbsp;RSS feed</a> of all updates to the site in an RSS feed reader</p>
				<h3>search</h3>
				<a id="searchsite">
					<form method="get" action="https://duckduckgo.com/">
				<input type="search" name="q" maxlength="255" placeholder="Search the site">
			<input type="hidden" name="sites" value="gragusa.org"/>
			   <input type="hidden" name="k7" value="#faf8f8"/>
			   <input type="hidden" name="kj" value="#b33"/>
			   <input type="hidden" name="ky" value="#fafafa"/>
			   <input type="hidden" name="kx" value="b"/>
			   <input type="hidden" name="ko" value="-1"/>
			   <input type="hidden" name="k1" value="-1"/>
			   <input type="submit" value="DuckDuckGo Search" style="visibility: hidden;" /></form></a>
			</div>
		</div>
	</div>
</div>
